# Binaries
target/obj/*
target/boot/*.bin
target/software/*.cav
target/usr/lib
disk.img
disk.vmdk

pci.ids

# Wireshark network dumps
*.pcapng

# Could obviously contain sensitive data
.idea/
Session.vim
