# Binaries
target/boot/*.bin
target/usr/bin/*
target/usr/sbin
target/usr/lib
target/lib
disk.img
disk.vmdk

# Libraries
target/usr/include/ncursesw
target/usr/etc/profile.d
target/usr/libexec
target/usr/x86_64-cavos

# Chroot stuff
target/dev/shm
target/run
target/sys
target/proc
target/dev/pts
target/dev
target/bin

# Limine repository
src/bootloader/limine

# Misc (on the target system)
target/usr/share

pci.ids

# Wireshark network dumps
*.pcapng

# Could obviously contain sensitive data
.idea/
Session.vim
